<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Express Pizza</title>
        <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>Welcome To Express Pizza</h1>
    <p></p>
    <div>
        <h2>Specialty Pizzas</h2>
        <ul>
            <li><a href = '/specialties?pizzaType=Breakfast+Pizza&price=12.50'>Breakfast Pizza</a></li>
            <li><a href = '/specialties?pizzaType=Barbecue+Chicken+Pizza&price=15'>Barbecue Chicken Pizza</a></li>
            <li><a href = '/specialties?pizzaType=Veggie+Pizza&price=11'>Veggie Pizza</a></li>
            <li><a href = '/specialties?pizzaType=Margherita+Pizza&price=12'>Margherita Pizza</a></li>
            <li><a href = '/specialties?pizzaType=Paleo+Pizza&price=15'>Paleo Pizza</a></li>
            <li><a href = '/specialties?pizzaType=Dessert+Pizza&price=10'>Dessert Pizza</a></li>
        </ul>
    </div>
    <div>
        <h2>Custom Pizza</h2>
        <div>
            <a href = "/pizzaBuilder">Build Your Own!</a>
        </div>
    </div>
    <div>
        <h2>Leave a Review</h2>
        <div>
            <a href = "/customerRatings">Click here to leave a review</a>
        </div> 
        <p>   
            <img class="main-image" src="/margheritaPizza.jpg" width=300 />
        </p>
    </div>

</body>
</html>