<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Specialty Pizza</title>
</head>
<body>
    <h1>Specialty Pizza</h1>
    <div>
        <p>
            <label>Name:</label> {{pizza}}
        </p>
        <p>
            <label>Price: </label> ${{pizzaPrice}}
        </p>
        <a href = '/'><h4>Back to homepage</h4></a>
    </div>
</body>
</html>